<html>
	<head>
		<link rel='stylesheet' href='style.css'>
		<title>Hello there :)</title>
	</head>
	
	<body>
		<div id='div-p'>
			<h2>#div1</h2>
			<p>
				some text here
			</p>
		</div>
		<div id='div-ta'>
			<textarea id="ta"></textarea>
		</div>
		<div id="div-list">
            <ol id="list">
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ol>
        </div>
        <div id="div-button">
            <button id="btn">Click!</button>
        </div>
		<script src='myscript.js'></script>
	</body>
</html>